# hrm-front
hrm-front/node_modules/
hrm-front/src/generated/
hrm-front/.next/
hrm-front/.vscode/
hrm-front/hrm-front.code-workspace

# hrm-api
hrm-api/.vscode
hrm-api/target
hrm-api/.env
hrm-api/hrm-api.code-workspace